<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Planes de financiamiento</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>

        <div th:replace="layout/plantilla :: header"></div>

        <header class="bg-warning text-center p-3">
            <h1>Planes de Financiamiento</h1>
        </header>

        <div class="container text-center mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2>Plan Básico</h2>
                    <p style="font-size: 120%;">Ideal para familias que buscan un pago accesible con cobertura de servicios esenciales.</p>
                    <br>
                    <p style="font-size: 120%;">Incluye ciudado y atención durante medio dia (mañana o tarde), actividades educativas y recreativas básicas además de una merienda ligera.</p>
                    <br>
                    <p style="font-size: 120%;">Costo: ₡100.000 mensuales</p>
                    <br>
                    <p style="font-size: 120%;">Financiamiento: Pago Mensual sin intereses</p>
                    <br>
                    <h2>Plan Completo</h2>
                    <p style="font-size: 120%;">Perfecto para padres que necesitan cuidado de jornada completa con actividades adicionales.</p>
                    <br>
                    <p style="font-size: 120%;">Incluye cuidado y atención durante jornada completa (7:00 am - 5:00 pm), actividades educativas, recreativas y artísticas,
                    Almuerzo y meriendas y la participación en talleres semanales (música, arte o deportes).</p>
                    <br>
                    <p style="font-size: 120%;">Costo: ₡180.000 mensuales</p>
                    <br>
                    <p style="font-size: 120%;">Financiamiento: Opción de pago en dos cuotas quincenales</p>
                </div>
            </div>
        </div>


        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
