<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head"></head>
<body>
    <header th:replace="layout/plantilla :: header"></header>

    <header class="bg-warning text-center p-3">
        <h1 th:text="#{titulo.bienvenida}">Bienvenido a la Guardería</h1>
    </header>

    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p style="font-size: 140%;" th:text="#{descripcion.inicio}">Bienvenidos a Guardería Roble Alto</p>
                <img src="imagenes/pPrincipal.jpg" alt="Guardería" style="width: 100%; max-width: 400px; margin-left: auto; margin-right: auto; display: block;" />
            </div>
        </div>
    </div>

    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>
