<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head"></head>
<body>
<header th:replace="layout/plantilla :: header"></header>

<div class="container mt-5">
    <div class="text-center bg-warning py-3 rounded shadow mb-5">
        <h2 class="text-dark" th:text="#{menu.titulo}">Horario de comidas</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="fw-bold" th:text="#{menu.merienda1.titulo}">1ra Merienda</h4>
            <p th:text="#{menu.merienda1.horario}">La primera merienda del día se dará en un horario de 10:00 am hasta las 10:30am</p>
            <p th:text="#{menu.merienda1.descripcion}">Cuenta con 1 yogurt + 1 fruta* + 1 galleta. (*Varía según el día)</p>

            <h4 class="fw-bold mt-4" th:text="#{menu.almuerzo.titulo}">Almuerzo</h4>
            <p th:text="#{menu.almuerzo.horario}">El almuerzo será dado en un horario de 12:30pm hasta la 1:30pm</p>
            <p th:text="#{menu.almuerzo.descripcion}">Arroz + una proteína* + vegetales + bebida. (*Varían según el día)</p>

            <h4 class="fw-bold mt-4" th:text="#{menu.merienda2.titulo}">2da Merienda</h4>
            <p th:text="#{menu.merienda2.horario}">La segunda merienda del día se dará en un horario de 4:00pm</p>
            <p th:text="#{menu.merienda2.descripcion}">Incluye un batido natural + galletas*. (*Sujeto a disponibilidad)</p>
        </div>

        <div class="col-md-4 text-center">
            <img src="https://i.pinimg.com/736x/b5/62/ce/b562ceb91846b20110987b7294f1fcb7.jpg"
                 alt="Niños comiendo"
                 class="img-fluid rounded shadow" />
        </div>
    </div>
</div>

<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>


