<!DOCTYPE html>
<html>
    <head>
        <title>Instalaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section>
            <article>
                <header>
                    <h3>Ubicación</h3>
                    <div style="margin: 0 auto; width: 50%;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d299156.3379079168!2d-84.40620736900784!3d9.882458603251832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3459e78cf55%3A0xc6ea6c26b659c649!2sGuarderia%20Roble%20Alto%20(%20centro%20infantil%20los%20Guido)!5e0!3m2!1ses!2scr!4v1741622391258!5m2!1ses!2scr"
                                width="800" height="550" style="border:0;" allowfullscreen="" 
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </header>
            </article> 
            <article>
                <header>
                    <h3>Recorrido</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pIGavYhUNmM?si=zhvq3_uXN6UpH0VP" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" 
                            allowfullscreen>
                    </iframe>
                </header>
            </article>
            <article>
                <<header><h3>Instalaciones</h3>
                    <img src="../static/imagenes/Instalaciones.jpg" alt=""/>
                </header>>
            </article>
        </section>
    </body>
</html>